<h2> Modificar Información de cuenta.</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %> 
  <table>
  <tr>
  <td>
    <%= f.label "Correo electrónico:" %>
  </td>
  <td>
  <%= f.email_field :email %>
  </td>
  </tr>
       
    <tr>
     <td>
       <%= f.label "Nombre:" %>
     </td>
     <td>
      <%= f.text_field :name %>
     </td>
     </tr>
      
     <tr>
      <td>
        <%= f.label "Apellidos:" %>
      </td>
      <td>
       <%= f.text_field :surname %>
      </td>
      </tr>  
      
       <tr>
        <td>
          <%= f.label "Dirección:" %>
        </td>
        <td>
         <%= f.text_field :address %>
        </td>
        </tr>
           
        <tr>
          <td>
            <%= f.label "Nueva Contraseña:" %> 
          </td>
          <td>
          <i>(Deja vacío si no quieres cambiarlo.)</i><br />
          <%= f.password_field :password, :autocomplete => "off" %>
          </td>
          </tr> 
          
          <tr>
            <td>
              <%= f.label "Confirma nueva contraseña:" %> 
            </td>
            <td>
            <%= f.password_field :password_confirmation %>
            </td>
            </tr>
                
              <tr>
              <td>
                <%= f.label "Contraseña actual:" %>
              </td>
              <td>
              <i>(ingresa tu contraseña actual para confirmar que deseas cambiarla por la de arriba.)</i><br />
                <%= f.password_field :current_password %>
              </td>
              </tr>  
              
              <tr>
              <td>
              </td>
              <td>
              <br />

<div><%= f.submit "Actualizar Datos" %></div>
              </td>
              </tr>
     
     </table>         

                 
<% end %>