<h2>Detalles de la traducción </h2>

<p id="notice"><%= notice %></p>

<p>
  <b>Palabra o frase Original:</b>
  <%= @translation.original %>
</p>

<p>
  <b>Traducción:</b>
  <%= @translation.translate %>
</p>
  <br />
<p>
<%= link_to 'Modificar', edit_translation_path(@translation), :class => 'btn btn-primary btn-medium' %> <%= link_to 'Cancelar', translations_path, :class => 'btn btn-danger btn-small' %> 
</p>