<p id="notice"><%= notice %></p>

<p>
  <b>Original:</b>
  <%= @translation.original %>
</p>

<p>
  <b>Translate:</b>
  <%= @translation.translate %>
</p>


<%= link_to 'Edit', edit_translation_path(@translation) %> |
<%= link_to 'Back', translations_path %>
