
<%= form_for @load_file, :html => {:multipart => true} do |f| %>

  <% if @load_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@load_file.errors.count, "error") %> impidió que se subierá al sistema el fichero:</h2>

      <ul>
      <% @load_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<%= f.file_field :fichero %>  
  </div>
  <br />
	Porcentaje en precio:
	</br>
	<i>(Si deseas un porcentaje de descuento, ingresalo con signo negativo (-) por ej. -50 ó -10... etc..)</i>
  <div class="field">
	% <%= f.number_field :percent, :class => "input-small", :value => 0 %>  
  </div>
<p>
  <div class="actions">
    <%= f.submit 'Guardar', :class => "btn btn-primary btn-medium", :id => "save_load" %> |  <%= link_to 'Cancelar', load_files_path, :class => "btn btn-warning btn-small" %> 
  </div>
</p>
<% end %>
