<%= form_for @load_file, :html => {:multipart => true} do |f| %>

  <% if @load_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@load_file.errors.count, "error") %> impidió que se subierá al sistema el fichero:</h2>

      <ul>
      <% @load_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<%= f.file_field :fichero %>  
  </div>
<p>
  <div class="actions">
    <%= f.submit 'Guardar', :class => "btn btn-primary btn-medium" %> |  <%= link_to 'Cancelar', load_files_path, :class => "btn btn-warning btn-small" %> 
  </div>
</p>
<% end %>
