<br />
<p>
<div class="row-fluid">	
	<div class="span3">
		<ul class="nav nav-tabs nav-stacked">
			<li>
				<a href="#">Joyeria en plata</a>
			</li>
			<li>
				<a href="#">Joyeria en acero</a>
			</li>
			<li>
				<a href="#">Joyeria de moda</a>
			</li>
			<li>
				<a href="#">Collares</a>
			</li>
			<li>
				<a href="#">Accesorios</a>
			</li>
			<li>
				<a href="#">Relojes</a>
			</li>
			<li>
				<a href="#">Novedades</a>
			</li>
		</ul>
	</div>
	
	<div class="span6">
		<div id="presentation" class="carousel slide">
			<!-- Carousel items -->
			<div class="carousel-inner">
				<div class="active item">
					<%= image_tag "http://www.tanai.com/jewelry-joyeria/home_image.php?src=home1.jpg" %>
					<div class="carousel-caption">
						<h4>Los Mejores productos</h4>
						<p> Contamos con los mejores productos del mercado, de la más alta calidad. </p>
					</div>
				</div>
				
				<div class="item"><%= image_tag "http://www.tanai.com/jewelry-joyeria/home_image.php?src=home2.jpg" %>
					<div class="carousel-caption">
						<h4>Gran variedad de productos</h4>
							<p> Contamos con una inmensa variedad de productos y diseños.</p>
					</div>
				</div>

				<div class="item"><%= image_tag "http://www.tanai.com/jewelry-joyeria/home_image.php?src=home3.jpg" %>
					<div class="carousel-caption">
						<h4>Las mejores marcas.</h4>
							<p> Encuentra los diseños más novedosos de las mejores marcas.</p>
					</div>
				</div>
			</div>

						<!-- Carousel nav -->
						<a class="carousel-control left" href="#presentation" data-slide="prev">&lsaquo;</a>
						<a class="carousel-control right" href="#presentation" data-slide="next">&rsaquo;</a>
		</div>
		<legend></legend>
	</div>

	<div class="span3">
					<div class="form-horizontal well">
						<h4>Inicia sesión.</h4>
						
						<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
							<%= f.label :email %>
							<%= f.email_field :email %>

							<%= f.label :password %>
							<%= f.password_field :password %>

							<% if devise_mapping.rememberable? -%>
							<%  f.check_box :remember_me %> <% f.label :remember_me %>
							<% end -%>
							<br />
							<%= f.submit "Sign in" %>
						<% end %>

							<%= render "devise/shared/links" %>
					</div>
				</div>

</div>

<% products = Product.first(5) %>
<ul class="thumbnails">
  <li class="span3">
    <div class="thumbnail">
	  <%= image_tag "http://img.tanai.com/m.php?ref=#{products[0].ref}" %>
      <div class="caption">
        		<% if !products[0].nil? %>
				<h4><%= products[0].ref %></h4><legend><h5><%= products[0].collection %></h5></legend>
				<% end %>
		<center>
				<h4><%= products[0].price_thb %> €</h4>
		
	        <a href="#" class="btn btn-primary btn-small">Ver Detalle</a>
		</center>
      </div>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
	  <%= image_tag "http://img.tanai.com/m.php?ref=#{products[1].ref}" %>
      <div class="caption">
        		<% if !products[1].nil? %>
				<h4><%= products[1].ref %></h4><legend><h5><%= products[1].collection %></h5></legend>
				<% end %>
		<center>
				<h4><%= products[1].price_thb %> €</h4>
		
	        <a href="#" class="btn btn-primary btn-small">Ver Detalle</a>
		</center>
      </div>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
	  <%= image_tag "http://img.tanai.com/m.php?ref=#{products[2].ref}" %>
      <div class="caption">
        		<% if !products[2].nil? %>
				<h4><%= products[2].ref %></h4><legend><h5><%= products[2].collection %></h5></legend>
				<% end %>
		<center>
				<h4><%= products[2].price_thb %> €</h4>
		
	        <a href="#" class="btn btn-primary btn-small">Ver Detalle</a>
		</center>
      </div>
    </div>
  </li>
<li class="span3">
    <div class="thumbnail">
	  <%= image_tag "http://img.tanai.com/m.php?ref=#{products[3].ref}" %>
      <div class="caption">

				<% if !products[3].nil? %>
				<h4><%= products[3].ref %></h4><legend><h5><%= products[3].collection %></h5></legend>
				<% end %>
		<center>
				<h4><%= products[3].price_thb %> €</h4>
		
	        <a href="#" class="btn btn-primary btn-small">Ver Detalle</a>
		</center>
	
      </div>
    </div>
  </li>
</ul>


</p>