<br />
<p>
<div class="row-fluid">	
	<div class="span3">
		<ul class="nav nav-tabs nav-stacked">
				<li>
					<br />

						<%= form_for products_path, :html => {:method => 'get'} do %>
						    <%= text_field_tag :search_word, nil, :class => "input-medium search-query ", :placeholder => "Buscar..." %> 
					   <% end %>
				</li>
				<li>
					<a href="<%= root_url %>products?search_word=silver">JOYERIA PLATA</a>
				</li>
				<li>
					<a href="<%= root_url %>products?search_word=steel">JOYERIA ACERO</a>
				</li>
				<li>
					<a href="<%= root_url %>products?search_word=jewelery">BISUTERIA</a>
				</li>
				<li>
					<a href="<%= root_url %>products?search_word=cord">CORDONES</a>
				</li>
				<li>
					<a href="<%= root_url %>products?search_word=accessories">ACCESORIOS</a>
				</li>
				<li>
					<a href="<%= root_url %>products?search_word=watch">RELOJES</a>
				</li>
		</ul>
	</div>
	
	<div class="span6">
		<div id="presentation" class="carousel slide">
			<!-- Carousel items -->
			<div class="carousel-inner">
				<div class="active item">
					<%= image_tag "http://www.tanai.com/jewelry-joyeria/home_image.php?src=home1.jpg" %>
					<div class="carousel-caption">
						<h4>Los Mejores productos</h4>
						<p> Contamos con los mejores productos del mercado, de la más alta calidad. </p>
					</div>
				</div>
				
				<div class="item"><%= image_tag "http://www.tanai.com/jewelry-joyeria/home_image.php?src=home2.jpg" %>
					<div class="carousel-caption">
						<h4>Gran variedad de productos</h4>
							<p> Contamos con una inmensa variedad de productos y diseños.</p>
					</div>
				</div>

				<div class="item"><%= image_tag "http://www.tanai.com/jewelry-joyeria/home_image.php?src=home3.jpg" %>
					<div class="carousel-caption">
						<h4>Las mejores marcas.</h4>
							<p> Encuentra los diseños más novedosos de las mejores marcas.</p>
					</div>
				</div>
			</div>

						<!-- Carousel nav -->
						<a class="carousel-control left" href="#presentation" data-slide="prev">&lsaquo;</a>
						<a class="carousel-control right" href="#presentation" data-slide="next">&rsaquo;</a>
		</div>
		<legend></legend>
	</div>

	<div class="span3">
				
				
					<% total = Product.count %>
					<% products = [] %>
					<% offset = rand(total) %>
					<% products[0] = Product.first(:offset => offset) %>

				
					    <div class="thumbnail">
						  <%= image_tag "http://img.tanai.com/m.php?ref=#{products[0].ref}" %>
					      <div class="caption">
					        		<% if !products[0].nil? %>
									<h4><%= products[0].ref %></h4><legend><h5><%= products[0].collection %></h5></legend>
									<% end %>
							<center>
									<h4><%= products[0].price_thb %> €</h4>
									<%= link_to "Ver Detalle", product_path(products[0].id), :class => "btn btn-primary btn-small" %>
							</center>
					      </div>
					    </div>
				</div>

</div>

<% total = Product.count %>
<% products = [] %>
<% 4.times do |n| %>
<% offset = rand(total) %>
<% products[n] = Product.first(:offset => offset) %>
<% end %>

<ul class="thumbnails">
  <li class="span3">
    <div class="thumbnail">
	  <%= image_tag "http://img.tanai.com/m.php?ref=#{products[0].ref}" %>
      <div class="caption">
        		<% if !products[0].nil? %>
				<h4><%= products[0].ref %></h4><legend><h5><%= products[0].collection %></h5></legend>
				<% end %>
		<center>
				<h4><%= products[0].price_thb %> €</h4>
		
				<%= link_to "Ver Detalle", product_path(products[0].id), :class => "btn btn-primary btn-small" %>
		</center>
      </div>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
	  <%= image_tag "http://img.tanai.com/m.php?ref=#{products[1].ref}" %>
      <div class="caption">
        		<% if !products[1].nil? %>
				<h4><%= products[1].ref %></h4><legend><h5><%= products[1].collection %></h5></legend>
				<% end %>
		<center>
				<h4><%= products[1].price_thb %> €</h4>
		
				<%= link_to "Ver Detalle", product_path(products[1].id), :class => "btn btn-primary btn-small" %>
		</center>
      </div>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
	  <%= image_tag "http://img.tanai.com/m.php?ref=#{products[2].ref}" %>
      <div class="caption">
        		<% if !products[2].nil? %>
				<h4><%= products[2].ref %></h4><legend><h5><%= products[2].collection %></h5></legend>
				<% end %>
		<center>
				<h4><%= products[2].price_thb %> €</h4>
		
				<%= link_to "Ver Detalle", product_path(products[2].id), :class => "btn btn-primary btn-small" %>
		</center>
      </div>
    </div>
  </li>
<li class="span3">
    <div class="thumbnail">
	  <%= image_tag "http://img.tanai.com/m.php?ref=#{products[3].ref}" %>
      <div class="caption">

				<% if !products[3].nil? %>
				<h4><%= products[3].ref %></h4><legend><h5><%= products[3].collection %></h5></legend>
				<% end %>
		<center>
				<h4><%= products[3].price_thb %> €</h4>
		
				<%= link_to "Ver Detalle", product_path(products[3].id), :class => "btn btn-primary btn-small" %>
		</center>
	
      </div>
    </div>
  </li>
</ul>


</p>