<%= form_for @product, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :ref, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ref, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :collection, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :collection, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :collection_sub, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :collection_sub, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :grams, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :grams, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price_thb, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price_thb, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ring_for, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ring_for, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :comments, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :comments, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :p_size, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :p_size, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :color, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :color, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :detail_new, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :detail_new, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :colour, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :colour, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :metal, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :metal, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :surface, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :surface, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :stone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :material, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :material, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :hallmark, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :hallmark, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :comment, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :comment, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :diameter, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :diameter, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :diameter_unit, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :diameter_unit, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :length, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :length, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :length_unit, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :length_unit, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :wide, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :wide, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :wide_unit, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :wide_unit, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :thick, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :thick, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :thick_unit, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :thick_unit, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :watch, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :watch, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :watch_band, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :watch_band, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :watch_movement, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :watch_movement, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :watch_waterproof, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :watch_waterproof, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :watch_case, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :watch_case, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :watch_gram, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :watch_gram, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stock_not_ring, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :stock_not_ring, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stock_ring_freesize, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :stock_ring_freesize, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stock_ring_size_2, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :stock_ring_size_2, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stock_ring_size_3, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :stock_ring_size_3, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stock_ring_size_4, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :stock_ring_size_4, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stock_ring_size_5, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :stock_ring_size_5, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stock_ring_size_6, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :stock_ring_size_6, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stock_ring_size_7, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :stock_ring_size_7, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stock_ring_size_8, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :stock_ring_size_8, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stock_ring_size_9, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :stock_ring_size_9, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stock_ring_size_10, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :stock_ring_size_10, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stock_ring_size_11, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :stock_ring_size_11, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stock_ring_size_12, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :stock_ring_size_12, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :entry_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :entry_date, :class => 'datetime_select' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                products_path, :class => 'btn' %>
  </div>
<% end %>
