<%= form_for @product, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :ref, :class => 'control-label' %>
    <div class="controls">
      <span class="input-large uneditable-input"><%= @product.ref %></span>    </div>
  </div>
  <div class="control-group">
    <%= f.label :collection, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :collection, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :collection_sub, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :collection_sub, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :grams, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :grams, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price_thb, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price_thb, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :original_price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :original_price, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :comments, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :comments, :class=>"input-xlarge", :rows=>"3" %>
    </div>
  </div>
  
  
  <div class="control-group">
    <%= f.label :material, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :material, :class => 'text_field' %>
    </div>
  </div>

 

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-success' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                products_path, :class => 'btn btn-danger' %>
  </div>
<% end %>
