<br />
<div class="row">
	<div class="span3">
			<%= form_for products_path, :html => {:method => 'get'} do %>
			    <%= text_field_tag :search_word, nil, :class => "input-medium search-query", :placeholder => "Buscar..." %> 
		   <% end %>
		
		
		
		<div style="max-width: 340px; padding: 8px 0;" class="well">
		              <ul class="nav nav-list">
		                <li class="nav-header">Prod</li>
		                <li class="active"><a href="#">Todo</a></li>
		                <li><a href="#">...</a></li>
		                <li><a href="#">...</a></li>
		                <li class="nav-header">SWAROVSKI </li>
		                <li><a href="#">...</a></li>
		                <li><a href="#">...</a></li>
		                <li class="divider"></li>
		                <li><a href="#">...</a></li>
		              </ul>
		            </div>
	</div>
	<div class="span8">
		<ul class="nav nav-tabs">
	   		<% if @word.nil? %>
		    <li class="active">
			<% else %>
			<li>
			<% end %>
			<%= link_to "Todos", products_path %>
		</li>
		<% if @word == "silver" %>
	    <li class="active">
		<% else %>
		<li>
		<% end %>
			<a href="<%= root_url %>products?search_word=silver">Plata</a>
	    </li>
		<% if @word == "steel" %>
	    <li class="active">
		<% else %>
		<li>
		<% end %>
				<a href="<%= root_url %>products?search_word=steel">Acero</a>
		</li>
	  	<% if @word == "fashion" %>
	    <li class="active">
		<% else %>
		<li>
		<% end %>
		<a href="<%= root_url %>products?search_word=fashion">Bisuteria</a>
		</li>
		<% if @word == "cord" %>
	    <li class="active">
		<% else %>
		<li>
		<% end %>
			<a href="<%= root_url %>products?search_word=cord">Collares</a>
		</li>
			<% if @word == "accessories" %>
		    <li class="active">
			<% else %>
			<li>
			<% end %>
				<a href="<%= root_url %>products?search_word=accessories">Accesorios</a>
			</li>
			<% if @word == "watch" %>
		    <li class="active">
			<% else %>
			<li>
			<% end %>
				<a href="<%= root_url %>products?search_word=watch">Relojes</a>
			</li>
			
	    </ul>
	
	
	
		<ul class="thumbnails" id="products_list">
	    <% @products.each do |product| %>
		  <li class="span2">
		    <div class="thumbnail">
			  <%= link_to (image_tag "http://img.tanai.com/m.php?ref=#{product.ref}"), product_path(product) %>
		      <div class="caption">
						<h4><%= product.ref %></h4><legend><h5><%= product.collection %></h5></legend>
				<center>
						<h4><%= product.price_thb %> €</h4>
						<%= link_to "Ver Detalle", product_path(product), :class => "btn btn-primary btn-small" %>
				</center>
		      </div>
		    </div>
		  </li>
		<% end %>
		</ul>
		
		<center>
		<%= will_paginate @products, :renderer => BootstrapPagination::Rails %>
		</center>
		
	</div>
	
</div>


<% x = 2 %>
<% if x == 10 %>
<%- model_class = Product -%> 
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize %></h2><h6> <%= Product.count %> productos en el catálogo.</h6>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Imagen</th>
      <th><%= model_class.human_attribute_name(:ref) %></th>
      <th><%= model_class.human_attribute_name(:collection) %></th>
      <th><%= model_class.human_attribute_name(:collection_sub) %></th>
      <th><%= model_class.human_attribute_name(:grams) %></th>
      <th><%= model_class.human_attribute_name(:price_thb) %></th>	
     <% t '.actions', :default => t("helpers.actions") %>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%#link_to product.id, product_path(product) %>
		<%= image_tag "http://g.tanai.com/m0.php?src=#{product.ref}.jpg" %>
		</td>
        <td><%= product.ref %></td>
        <td><%= product.collection %></td>
        <td><%= product.collection_sub %></td>
        <td><%= product.grams %></td>
        <td><%= product.price_thb %></td>
      
          <% link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_product_path(product), :class => 'btn btn-mini' %>
          <% link_to t('.destroy', :default => t("helpers.links.destroy")),
                      product_path(product),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
       


      </tr>
    <% end %>
  </tbody>
</table>

<% link_to t('.new', :default => t("helpers.links.new")),
            new_product_path,
            :class => 'btn btn-primary' %>

<%= will_paginate @products, :renderer => BootstrapPagination::Rails %>
<% end %>